/* Position: Static, initial, inherit, absolut, relative, fixed, sticky */

.parent{
    background: grey;
    min-height: 40vh;
    padding: 1rem;
    font-size: 2rem;
    /* position: relative; */
}

.parent div{
    min-height: 150px;
}

.c1{
    background: red;
    position: sticky;
    top: 50px;
}
.c2{
    background: blue;
    color: white;

    /* position: absolute ; */
    /* position: relative; */
    /* right: 50px;
    bottom: 50px; */
    /* right: 200px;
    bottom: 3%; */
    /* position: fixed; */
    /* position: sticky; */
    

}
.c3{
    background: green;
}